@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #0116b1 0%, #060404 89%);
}
p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(179, 186, 183);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(179, 186, 183);
}

.sidebar {
color: aquamarine;
background: linear-gradient(270deg, #0116b1 0%, #060404 89%);


}

.card {
    background: linear-gradient(270deg, #0116b1 0%, #060404 89%);
    color: aquamarine;

}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text, 
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
   background: linear-gradient(360deg, #0116b1 0%, #060404 89%);  
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 2s infinite reverse forwards;
}
@keyframes call {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}